.places__p {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 0;
    /* margin-right: 110px; */
    letter-spacing: normal;
}

@media screen and (min-width: 1024px) {
    .places__p {
        margin-right: 110px;
    }
}
