.blockquote {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 115px 10px 135px;
  margin: 0;
}

@media screen and (max-width: 1020px) {
  .blockquote {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: auto;
    justify-items: center;
    padding-top: 70px;
  }
}
