.blockquote__phrase {
  margin: 0;
  padding-left: 5px;
  padding-top: 20px;
  font-size: 13px;
  line-height: 20px;
}

@media screen and (max-width: 697px) {
  .blockquote__phrase {
    padding-top: 10px;
  }
}
