.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1280px;
  justify-content: space-between;
  padding: 51px 67px;
}

@media screen and (min-width: 580px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
}
